@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@import "tailwindcss";

.note-text {
    white-space: pre-wrap;
}

.note-edit {
    overflow: hidden !important;
}

.note-edit:focus {
    outline: none !important;
}

.note-edit::-webkit-scrollbar {
    display: none;
}

.note-edit {
    scrollbar-width: none;
}